body {
    background-color: aqua;

}

div {
    margin-top: 150px;
    text-align: center;
    width: 100%;
}

img {
    height: 150px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

img:hover {
    animation: animation 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes animation {
    100% {
        transform: scale(2);
        -webkit-filter: none; 
        filter: none;
    }
}